div.authPage{
    display: flex;
        justify-content: center;
        align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background1.png");
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(173, 173, 173);
        mix-blend-mode: multiply; /* Blends color with grayscale image */
        
    }
    & form.auth{
        position: relative;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 8px;
        padding: 24px;
        width: 480px;
        height: 280px;
        border: 2px solid;
        background-color: transparent;
        backdrop-filter: blur(16px);
        & span{
            position: relative;
            display: flex;
                flex-direction: row;
                align-items: center;
            width: 80%;
            flex: 1 1 0;
            & label{
                position: relative;
                text-align: right;
                flex: 1 1 0;
                font-weight: bold;
            }
            & input{
                position: relative;
                background-color: transparent;
                padding: 4px;
                max-width: 240px;
                flex: 4 4 0;
                border: 2px solid rgb(255, 255, 255, 0.2);
                outline: none;
            }
        }
        & a.toRegister{
            font-size: 0.8rem;
        }
        & a.toLogin{
            font-size: 0.8rem;
        }
        & a.toHome{
            position: absolute;
                left: 8px;
                bottom: 8px;
            width: 48px;
                min-width: 48px;
            height: 36px;
                min-height: 36px;
            background-size: cover;
            background-image: url("../assets/arrowLeft.svg");
        }
        & button{
            height: 32px;
            width: 96px;
            background-color: transparent;
            margin: 2px;
            border: 2px solid rgb(255, 255, 255, 0.2);
            &:hover{
                filter: invert(100%);
            }
            &:active{
                filter: invert(0%);
            }
        }
    }
}

