div.comment {
    display: flex;
        flex-direction: column;
    position: relative;
    height: min-content;
    width: 100%;
    border: 1px solid;
    padding: 16px;
    margin: 8px 0px;
}

span.deleteCommentButton{
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
    cursor: pointer;
    text-decoration: underline;
}

& div.confirmDeletionWindow{
    z-index: 1;
    position: fixed;
        left: 50%;
        top: 50%;
    visibility: hidden;
    display: flex;
        flex-direction: column;
        row-gap: 8px;
        justify-content: center;
    align-self: center;
    background-color: transparent;
    backdrop-filter: blur(16px);
    margin: -120px -180px;
    width: 360px;
    height: 240px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    &.active{
        visibility:visible;
    }
    & button{
        background-color: var(--layer04);
        border: 2px solid rgb(255, 255, 255);
        min-width: 64px;
        max-width: 160px;
        width: 128px;
        height: fit-content;
        padding: 4px;
        &:hover{
            filter: invert(100%);
        }
    }
    
}