main.forumPage{
    position: relative;
    display: flex;
        flex-direction: column;

    & h1{
        background-image: url("../assets/background1.png");
        padding: 32px;
    }
    & div.postEntries{
        display: flex;
            flex-direction: column;
            align-items: center;
        background-image: none;
        background-color: var(--layer04);
        width: 100%;
        height: min-content;
        padding: 32px;
        & div.post{
            position: relative;
            display: grid;
                grid-template-columns: 0.16fr 1fr;
            width: 90%;
            max-width: 900px;
            height: min-content;
            padding: 0px 16px;
            margin: 8px;
            border: 1px double rgb(255, 255, 255);
            background-color: rgba(0,0,0,0.2);
            transition: all 0.2s ease-in-out;
            & img{
                width: 100%;
                height: 100%;
                padding: 8px;
                object-fit: contain;
            }
            & div{
                display: block;
                padding: 16px;
            }
            &:hover{
                scale: 1.01;
            }

        }
    }
    & div.filterAndSort{
        position: relative;
        display: flex;
            flex-direction: row;
            justify-content: space-between;
        background-color: var(--layer01);
    }
    & form.filterSection{
        position: relative;
        display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 16px;
        padding: 16px;
    }
    & input{
        outline: none;
        padding: 4px;
        background-color: var(--layer02);
    }
    & footer{
        display: block;
        height: 256px;
        background-color: var(--layer01);
    }
}
