main.forumPage{
    position: relative;
    display: flex;
        flex-direction: column;

    & h1{
        background-image: url("../assets/background0.png");
        padding: 32px;
    }
    & div.postEntries{
        display: flex;
            flex-direction: column;
            align-items: center;
        background-image: none;
        background-color: var(--layer04);
        width: 100%;
        min-height: 100vh;
        height: min-content;
        padding: 32px;
        
    }
    & div.filterAndSort{
        position: relative;
        display: flex;
            flex-direction: row;
            justify-content: space-between;
        background-color: var(--layer01);
    }
    & form.filterSection{
        position: relative;
        display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 16px;
        padding: 16px;
    }
    & select{
        background-color: var(--layer04);
        padding: 8px;
        border: 2px solid white;
        &:focus{
            border: 2px solid rgb(255, 255, 255, 0.5);
        }
    }
    & input{
        outline: none;
        padding: 4px;
        background-color: var(--layer04);
        border: 2px solid white;
        &:focus{
            border: 2px solid rgb(255, 255, 255, 0.5);
        }
    }
    & button{
            flex: 1;
            background-color: var(--layer04);
            border: 2px solid white;
            min-width: fit-content;
            width: 64px;
            padding: 8px;
            &:hover{
                filter: invert(100%);
            }
        }
}
