header{
    position: sticky;
    top: 0;
    display: flex;
    min-height: 72px;
    width: 100vw;
    height:72px;
    background-color: var(--layer02);
    z-index: 1;
    /* Title */
    & h3{
        position: relative;
        display: flex;
            justify-content: center;
            align-items: center;
        padding: 4px 12px 4px 12px;
        font-size: 2rem;
        text-decoration: none;
    }
    & img.icon{
        position: relative;
        padding: 12px;
        object-fit: contain;
        image-rendering:crisp-edges;
        width: 72px;
    }
    /* NavBar */
    & nav.horizontalNav{
        position: relative;
        display:flex;
            flex-direction: row;
            justify-content: space-between;
        flex: 1 1 0;
        height: 100%;
        &>span:nth-child(1){
            position: relative;
            flex: 1 1 0;
            height: 100%;
            min-width: 240px;
            display: flex;
                justify-content: left;
        }
        &>span:nth-child(2){
            position: relative;
            flex: 1 1 0;
            min-width: 240px;
            height: 100%;
            display: flex;
                justify-content: right;
        }
        /* For dropdown */
        & a[href="/createpost"]{
            min-width: 160px;
            font-size: 1.2rem;
            padding: 0;
        }
        & a{
            position: relative;
            display: flex;
                align-items: center;
                justify-content: center;
            flex: 1 1 0;
            min-width: 120px;
            max-width: 180px;
            padding: 0px 16px;
            text-align: center;
            text-decoration: none;
            height: 72px;
            line-height: 100%;
            font-size: 1.4rem;
            background-color: transparent;
            &:hover, &:active, &:focus{
                background-color: rgb(255 255 255/0.2);
            }
        }
        & div.dropdown{
            position: relative;
            display: flex;
                flex-direction: column;
            height: 100%;
            & button.dropdownButton{
                position: relative;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                background: transparent;
                flex: 1 1 0;
                min-width: 140px;
                min-height: 72px;
                max-width: 180px;
                padding: 0px 16px;
                text-align: center;
                text-decoration: none;
                height: 72px;
                line-height: 100%;
                font-size: 1.4rem;
                &:hover{
                    background-color: rgb(255 255 255/0.2);
                    cursor: pointer;
                }
            }
            & a{
                height: 72px;
            }
            & div.dropdownContent{
                background-color: var(--layer02);
                position: relative;
                height: max-content;
                display: none;
            }
            & div.dropdownContent.active{
                display: inline;
            }
        }
    }
    & nav.verticalNav{
        position: fixed;
            top: 0px;
        display: flex;
            flex-direction: column;
            align-items: center;
        visibility: hidden;
        background-color: var(--layer02);
        padding: 64px 16px;
        width: 100vw;
        height: 60vh;
        translate: 100% 0;
        transition: all 0.2 ease;
        & button.dropdownButton{
            display: none;
        }
        & span{
            display:flex;
                flex-direction: column;
            padding: 16px;
            text-align: center;
            & a{
                font-size: 2em;
                text-decoration: none;
                text-align: center;
                margin: 8px;
            }
        }
        & div.dropdownContent{
            display: flex;
                flex-direction: column;
                
        }
        &.active{
            translate: 0% 0;
            transition: all 0.2 ease;
        }
    }
    & button.verticalMenuButton{
        display: none;
        position:absolute;
            right: 0;
        background-color: transparent;
        background-image: url("../assets/menu.svg");
        background-size: cover;
        translate: 160% 0;
        margin: 21px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        transition: all 0.2s ease;
        z-index: 1;
    }
}

@media only screen and (max-width: 800px){
    header{
        & nav.horizontalNav{
            display: none;
        }
        & button.verticalMenuButton{
            display: block;
            translate: 0 0;
        }
        & nav.verticalNav{
            visibility: visible;
        }
    }
    
}