main.indexPage{
    display: flex;
        flex-direction: column;
        
    

    & div.background{
        position: relative;
        display: block;
        background-image: url("../assets/background0.png");
        position: relative;
        height: 80vh;
        width: 100vw;
        padding: 64px;
        object-position: 0% 0%;
        object-fit: cover;
    }
     
    & div.aboutUs{
        position: relative;
        padding: 64px;
        text-align: center;
        background-color: var(--layer04);
        & p{
            position: relative;
            padding: 16px;
            max-width: 80%;
            margin: auto;
        }
    }
    /* BlogList */
    & div.postEntries{
        position: relative;
        display: flex;
            flex-direction: column;
            align-items: center;
        background-color: var(--layer03);
        
        padding: 64px;
        width: 100vw;
        
        height: 1280px;
    }

    & footer{
        display: block;
        height: 256px;
        background-color: var(--layer01);
    }
}
