main.indexPage{
    display: flex;
        flex-direction: column;
    overflow: hidden;
    width: 100vw;

    & div.background{
        position: relative;
        display: block;
        background-image: url("../assets/background0.png");
        position: relative;
        height: 80vh;
        width: 100vw;
        
        padding: 64px;
        object-position: 0% 0%;
        object-fit: cover;
    }
    & h1.welcomeMessage{
        position: relative;
        top: 24px;
        max-width: 90vw;
        opacity: 0;
        transition: all 1s ease;
        &.isViewed{
            opacity: 1;
            top: 0px;
        }
    }
    & div.aboutUs{
        position: relative;
        padding: 64px;
        text-align: center;
        background-color: var(--layer04);
        
        & p.aboutUsContent{
            position: relative;
            padding: 16px;
            max-width: 80%;
            margin: auto;
            opacity: 0;
            top: 24px;
            transition: all 3s ease;
            &.isViewed{
                 top: 0px;
                opacity: 1;
            }
        }
        & h2.aboutUsHeader{
            opacity: 0;
            transition: all 1s ease;
            &.isViewed{
                opacity: 1;
            }
        }
        
    }
    /* BlogList */
    & div.faq{
        position: relative;
        display: flex;
            flex-direction: column;
            row-gap: 16px;
        padding: 64px;
        background-color: var(--layer03);
        & div.questions{
            opacity: 0;
            transition: all 2s ease;
            &.isViewed{
                opacity: 1;
            }
        }
        & p.answer{
            position: relative;
            padding: 16px;
            max-width: 80%;
            
            margin: auto;
        }
        & p.question{
            position: relative;
            padding: 16px;
            max-width: 80%;
            font-size: 2em;
            margin: auto;
            
        }
        
    }
}
@media only screen and (max-width: 800px) {
    main.indexPage{
        div.background{
            height: 40vh;
        }
        div.aboutUs {
            padding: 16px;
            & p.aboutUsContent{
                padding: 16px;
                max-width: 100%;
            }
        }
        div.faq{
            position: relative;
            display: flex;
                flex-direction: column;
                row-gap: 4px;
            padding: 32px;
            & p.answer{
                position: relative;
                padding: 4px;
                max-width: 90%;
                margin: auto;
            }
            & p.question{
                position: relative;
                padding: 4px;
                max-width: 90%;
                font-size: 2em;
                margin: auto;
                
            }
        }
    }
    
}