a.post{
    position: relative;
    display: grid;
        grid-template-columns: 0.16fr 1fr;
    width: 90%;
    max-width: 900px;
    height: max-content;
    
    padding: 0px 16px;
    margin: 8px;
    text-decoration: none;
    border: 1px double rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    & img{
        width: 100%;
        min-width: 100px;
        min-height: 100%;
        height: 100%;
        padding: 8px;
        object-fit: contain;
    }
    & div{
        display:block;
        width: 100%;
        display: block;
        padding: 16px;
        overflow: hidden;
        line-break: normal;
        text-overflow: ellipsis; /* Or ellipsis if you want truncation */
        white-space: normal; /* Allow text to wrap */
        & *{
            height: max-content;
            width: 100%;
            overflow: hidden;
            line-break: normal;
            text-overflow: ellipsis; /* Or ellipsis if you want truncation */
            white-space: normal; /* Allow text to wrap */
        }
        /* For solved, comment, upvote and downvote counts */
        & div.postData{
            display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
            padding: 0;
            width: 50%;
            min-width: fit-content;
            float: right;
            
            &>*{
                display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                min-width: max-content;
                width: 24px;
                height: 24px;
                padding: 4px;
                flex: 1;
                font-size: 0.8em;
            }
        }
    }
    &:hover{
        scale: 1.01;
    }
    & div.notResolved{
        width: fit-content;
        margin-top: 16px;
        padding: 4px;
        background-color: rgb(163, 37, 37);
    }
    & div.resolved{
        width: fit-content;
        margin-top: 16px;
        padding: 4px;
        width: fit-content;
        background-color: rgb(72, 121, 0);
    }
}

@media only screen and (max-width: 600px){
    a.post{
        grid-template-columns: 1fr;
        grid-template-rows: 0.16fr 1fr;
    }
    
}