div.postPage{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url("../assets/background0.png");
        min-height: 100vh;
        background-size: cover;
    div.post{
        position: relative;
        display: block;
        background-color: rgba(0,0,0,0.5);
        width: clamp(560px, 70vw, 960px);
        padding: 24px;
        overflow-y: scroll;
        margin: 64px 64px 12px 64px;
        border: 2px solid white;
        & h2.title{
            position: relative;
            display: block;
            width: 100%;
            line-break: normal;
            text-overflow: ellipsis; /* Or ellipsis if you want truncation */
            white-space: normal; /* Allow text to wrap */
            overflow: hidden; /* Hide any overflow */
            padding: 24px;

        }
        & .author, .date{
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden; /* Hide any overflow */
            padding: 0px 24px;
        }

        & .content{
            position: relative;
            display: block;

            border-radius: 4px;
            width: 100%;
            padding: 16px;
        }
    }
    div.comment{
        position: relative;
        display: block;
        margin-bottom: 32px;
        background-color: rgba(0,0,0,0.5);
        width: clamp(560px, 70vw, 960px);
        padding: 16px;
        border: 2px solid white;
    }
}