div.postPage{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url("../assets/background0.png");
        background-position: 50% 0%;
        min-height: 100vh;
        background-size: cover;
    div.post{
        position: relative;
        display: block;
        background-color: rgba(0,0,0,0.5);
        width: clamp(560px, 70vw, 960px);
        padding: 24px;
        overflow-y: scroll;
        margin: 64px 64px 12px 64px;
        border: 2px solid white;
        & h2.title{
            position: relative;
            display: block;
            width: 100%;
            line-break: normal;
            text-overflow: ellipsis; /* Or ellipsis if you want truncation */
            white-space: normal; /* Allow text to wrap */
            overflow: hidden; /* Hide any overflow */
            padding: 24px;

        }
        & .author, .date{
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden; /* Hide any overflow */
            padding: 0px 24px;
        }

        & .content{
            position: relative;
            display: block;

            border-radius: 4px;
            width: 100%;
            padding: 16px;
        }
        & .buttonBar{
            display: flex;
                justify-content: flex-end;
                flex-direction: row;
                align-items: center;
            column-gap: 16px;
        }
        button.buttonComment{
            position: relative;
            background-color: transparent;
            background-image: url("../assets/comment.svg");
            background-size: cover;
            height: 24px;
            width: 24px;
            cursor: pointer;
            filter: grayscale(100%);
            &.active{
                filter: grayscale(100%) brightness(70%);
            }
        }
        button.upVote{
            background-color: transparent;
            background-image: url("../assets/arrowUp.svg");
            background-size: cover;
            height: 24px;
            width: 24px;
            cursor: pointer;
            filter: brightness(100%);
            &.active{
                filter: brightness(70%);
            }
        }
        button.downVote{
            background-color: transparent;
            background-image: url("../assets/arrowDown.svg");
            background-size: cover;
            height: 24px;
            width: 24px;
            cursor: pointer;
            filter: brightness(100%);
            &.active{
                filter: brightness(70%);
            }
        }
        & .authorEditLink{
            display: none;
            position: absolute;
            background:  url("../assets/edit.svg");
            overflow: hidden;
            background-size: cover;
            height: 24px;
            width: 24px;
            top: 16px;
            right: 16px;
            &.active{
                display: block;
            }
        }
        & div.notResolved{
            position: absolute;
            top: 16px;
            left: 16px;
            width: fit-content;
            padding: 4px;
            background-color: rgb(163, 37, 37);
            cursor: default;
        }
        & div.resolved{
            position: absolute;
            top: 16px;
            left: 16px;
            width: fit-content;
            padding: 4px;
            width: fit-content;
            background-color: rgb(72, 121, 0);
            cursor: default;
        }
    }
    div.commentList{
        position: relative;
        display: block;
        margin-bottom: 32px;
        background-color: rgba(0,0,0,0.5);
        width: clamp(560px, 70vw, 960px);
        padding: 16px;
        border: 2px solid white;
        
        overflow-x: scroll;
        div.commentEditor{
            position: relative;
            display: block;
            overflow: hidden;
            width: 100%;
            height: 0;
            &.active{
                height:max-content;
            }
            & button.submitComment{
                background-color: var(--layer03);
                float: right;
                min-width: 64px;
                width: max-content;
                height: max-content;
                padding: 4px;
                border: 2px solid white;
                cursor: pointer;
                &:hover{
                    filter: invert(100%);
                }
            }
        }
        
        div.comment{

        }
    }
}