div.editor{
    
    div.tiptap {
        position: relative;
        background-color: var(--layer04);
        padding: 16px;
        min-height: 128px;
        outline: none;
        height: min-content;
        border: 2px solid white;
        overflow: scroll;
        p.is-editor-empty:first-child::before {
            color: rgb(166, 170, 177);
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }
        mark {
            background-color: #f2ff00;
            color: rgb(0, 0, 0);
            border-radius: 2px;
            margin: 0 0.2em;
            
            padding: 0em 0.1em;
        }
        
    }
    div.buttonBar{
        & button{
            background-color: var(--layer03);
            min-width: 64px;
            width: max-content;
            padding: 8px;
            border: 0px solid white;
                border-width: 2px 0px 0px;
            cursor: pointer;
            &:nth-child(1){
                border: 0px solid white;
                    border-width: 2px 0px 0px 2px;
            }
            &:nth-last-child(1){
                border: 0px solid white;
                    border-width: 2px 2px 0px 0px;
            }
        }
        & button:hover{
            filter: invert(100%);
        }
        /* The button is .active when the focused text has the relevent variant applied */
        & button.active{
            background-color: var(--layer05);
        }
        
    }
    /* Effects */
    
    
}


